
.ingredient-table .table-column {
  -fx-alignment: CENTER;
  -fx-table-cell-border-color: transparent;
}

.joined-cols.column-header {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}